<div class="users-table">

  <mat-toolbar>
    <span>Table of users</span>
  </mat-toolbar>

  <app-table-filter
    *ngIf="filtredTable?.data"
    [data]="filtredTable?.data"
    (applyFilter)="onApllyFilter($event)"
  ></app-table-filter>

  <table
    mat-table
    matSort
    matSortDirective
    [dataSource]="filtredTable"
    matSortActive="addressStreet"
    class="users-table-table"
  >

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First name </th>
      <td mat-cell *matCellDef="let element"> {{element?.firstname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last name </th>
      <td mat-cell *matCellDef="let element"> {{element?.lastname}} </td>
    </ng-container>
    
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element?.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthday </th>
      <td mat-cell *matCellDef="let element"> {{element?.birthday | date}} </td>
    </ng-container>

    <ng-container matColumnDef="addressStateName">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element?.address?.state?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="addressCity">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element?.address?.city}} </td>
    </ng-container>

    <ng-container matColumnDef="addressStreet">
      <th mat-header-cell *matHeaderCellDef> Street </th>
      <td mat-cell *matCellDef="let element"> {{element?.address?.street}} </td>
    </ng-container>

    <ng-container matColumnDef="addressZipcode">
      <th mat-header-cell *matHeaderCellDef> Zipcode </th>
      <td mat-cell *matCellDef="let element"> {{element?.address?.zipcode}} </td>
    </ng-container>

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.avatar" [alt]="element?.firstname" class="users-table-img">
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <a
          [routerLink]="['/users/', element?.id]"
          routerLinkActive="router-link-active"
          class="users-table-edit"
        >Edit</a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <a [routerLink]="['/users/new']" routerLinkActive="router-link-active" class="users-table-new">New</a>
  
</div>