<form [formGroup]="filtersForm" class="table-filter" (ngSubmit)="submit()">

  <mat-form-field class="table-filter-field">

    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let user of selectedUsers"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(user)">
        {{user?.firstname}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <input
        formControlName="userName"
        [matChipInputFor]="chipList"
        [matAutocomplete]="auto"
        (matChipInputTokenEnd)="add($event)"
        matInput
        placeholder="New user..."
      >
      <mat-error
        [inputControl]="filtersForm.get('userName')"
        [errorMessages]="{
          'required': 'this control is required',
          'pattern': 'Invalid name'
        }"
        error-filed
      ></mat-error>
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option
        *ngFor="let user of filteredUsers"
        [value]="user.id"
        [disabled]="selectedUsers.includes(user)"
      >
        {{user.firstname + ' ' + user.lastname}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-form-field class="table-filter-field">
    <input
      formControlName="phone"
      matInput
      type="text"
      name="phone"
      placeholder="Add filter by phone"
    >
    <mat-error
      [inputControl]="filtersForm.get('phone')"
      [errorMessages]="{
        'required': 'This control is required',
        'pattern': 'Invalid phone'
      }"
      error-filed
    ></mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>State</mat-label>
    <mat-select formControlName="state">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let state of states" [value]="state.name">
        {{state.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="table-filter-dates">
    <mat-form-field class="table-filter-date">
      <input
        formControlName="dateStart"
        [matDatepicker]="pickerStart"
        matInput
        name="dateStart"
        placeholder="date start"
        [max]="dateEnd"
        >

        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <label>-</label>
  
    <mat-form-field class="table-filter-date">
      <input
        formControlName="dateEnd"
        [matDatepicker]="pickerEnd"
        matInput
        name="dateEnd"
        placeholder="date end"
        [min]="dateStart"
        [max]="currentDate"
      >

      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="table-filter-actions">
    <button
      mat-raised-button
      [color]="submitColor"
      type="submit"
      class="table-filter-action table-filter-action--search"
    >Filter</button>
    <button
      mat-raised-button
      type="button"
      (click)="resetForm()"
      class="table-filter-action table-filter-action--clear"
    >Clear</button>
  </div>
</form>